body{
    background-color: hsl(212, 45%, 89%);
}
.container{
    background-color: white;
    border-radius: 15px;
    color: hsl(220, 15%, 55%);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px auto;
    text-align: center;
    width:350px;
    height: 100%;
    padding: 10px 10px 30px 10px;
}
img{
    width: 100%;
    border-radius: 20px;

}
h2{
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
}
@media(max-width:958px){
    .container{
        margin: 10% 0px;
    }
}



